@import '../styles/variables';

.alert-wrapper {
   position: relative;

   alert {
       position: absolute;
       top: $navbar-height;
       width: 100%;
       z-index: 10000;
   }
}

.router{
    position: absolute;
    top: $navbar-height;
    width:100%;
}