@import '../../../../../styles/variables';
.chatroom-list{
    background-color: $secondary;
    border-right: 2px solid white;
    overflow-y: scroll;
    color: white;

    .chatroom-list-item{

        border-bottom: 1px solid white;
        padding: 1em;

    }

    a{
        color: white;
    }
}