@import '../../../styles/variables';

nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: $navbar-height;
}

span, .nav-link{
    color: #FFFFFF !important;
}

a{
        margin-left:3em;

        &.active{
            border-bottom: 3px solid $gold;
        }
}
