@import '../../../styles/variables';

nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: $navbar-height;
}

span{
    color: #FFFFFF;
}

a{
        color: $light-grey;
        margin-left:3em;

        &.active{
            border-bottom: 3px solid $gold;
        }
}
