.chat-message {
    padding-top: 10px;
    margin-bottom:10px;
    border-top: solid 1px black;
}

img{
    height: 100px !important;
}

.bubble{
    margin-left:15px;
    margin-right:15px;
}

@media screen and (max-width: 576px){ 
    img{
        height: 50px !important;
    }
}